<div id="closeablecard" class="card mt-4">
    <mat-card>
        <mat-card-title>
            <h5>Content To Be Added : {{ contentIndex+1 }}</h5>
            <button mat-mini-fab (click)="decrContCount()">
                <mat-icon aria-hidden="false">close</mat-icon>    
            </button>
        </mat-card-title>   
         
        <mat-card-content>
            <div class="form-group">
                <form [formGroup]="contentForm">
                    <label>Page No</label>
                    <input type="number" class="form-control" formControlName="pageNo" />

                    <label class="radio-inline">
                        <input type="radio" value="DD" (change)="radioChange($event)" formControlName="fontRadio"> Select Font From DropDown              
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="File" (change)="radioChange($event)" formControlName="fontRadio"> Upload Font File
                    </label><br>

                    <ng-template [ngIf]="fontDDEnabled">
                        <label for="fontName">Font Type</label>
                        <select formControlName="fontName" class="form-control" (change)="fontNameChange()">
                            <option value="">Select Website</option>
                            <option *ngFor="let fontType of fontTypeList" value="{{ fontType }}">{{ fontType }}</option>
                        </select>
                    </ng-template>

                    <ng-template [ngIf]="fontFileEnabled">
                        <label for="fontFile">Choose Font File</label>
                        <app-file-upload class="form-control" formControlName="fontFile" (change)="fontFileChange()"></app-file-upload>
                    </ng-template>
                    
                    <label>Font Size</label>
                    <input type="number" class="form-control" formControlName="fontSize" />

                    <label>Font Color</label>
                    <input type="color" class="form-control" formControlName="fontColor" />

                    <label>X Co-Ordinate</label>
                    <input type="number" class="form-control" formControlName="xcoOrd" />

                    <label>Y Co-Ordinate</label>
                    <input type="number" class="form-control" formControlName="ycoOrd" />

                    <label>Content To Be Printed</label>
                    <input type="text" class="form-control" formControlName="content" />                             
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
