<div>
	<!-- Navbar -->
	<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">DINVITE</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="nav-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign Up</a></li>
          <li (click)="login()"><a href="#">{{ logInTitle }}</a></li>
        </ul>
      </div>
    </div>
  </nav>
	<!-- Loads the component based on the route path -->
	<router-outlet></router-outlet>

  <!-- Footer -->
  <div class="footer">
    <p>Footer</p>
  </div>
</div>