
<div class="container" id="foemContainer">
    <h1>Create Single Invitation</h1>
    <form [formGroup]="createSingleInvForm" (ngSubmit)="createSingleInvitation()">
        <div class="form-group">
            <label>Choose Invitation Card</label>
            <app-file-upload class="form-control" formControlName="file"></app-file-upload>
            <p *ngIf="(createSingleInvForm.controls.file.dirty || createSingleInvForm.controls.file.touched) && createSingleInvForm.controls.file.errors" class="alert alert-danger">
                This field is required!
            </p>
        </div>
        <div class="form-group">
            <label>Invitee Name</label>
            <input type="text" class="form-control" formControlName="inviteeName" />
            <p *ngIf="(createSingleInvForm.controls.inviteeName.dirty || createSingleInvForm.controls.inviteeName.touched) && createSingleInvForm.controls.inviteeName.errors" class="alert alert-danger">
                This field is required!
            </p>
        </div>
        <div class="form-group">
            <label>Invitee City</label>
            <input type="text" class="form-control" formControlName="inviteeCity" />
            <p *ngIf="(createSingleInvForm.controls.inviteeCity.dirty || createSingleInvForm.controls.inviteeCity.touched) && createSingleInvForm.controls.inviteeCity.errors" class="alert alert-danger">
                This field is required!
            </p>
        </div>
        <div formArrayName="contentSet" *ngFor="let item of countArr; let i=index">
            <app-content [contentIndex]="i" [parentForm]="createSingleInvForm" [counterArr]="countArr"></app-content>
        </div>
        <button type="button" class="btn btn-primary" (click)="countArr.push(0)">Add Content</button>
        <button type="submit" class="btn btn-primary" [disabled]="!createSingleInvForm.valid">Submit</button>
        <div *ngIf="successMessage">{{ successMessage }}</div>
        <div *ngIf="errorMessage">Invitation Creation Failed. Error: {{ errorMessage }}</div>
    </form>
</div>
