
<div class="container" id="foemContainer">
    <h1>Create Single Invitation</h1>
    <form [formGroup]="createSingleInvForm" (ngSubmit)="createSingleInvitation()">
        <div class="form-group">
            <label>Choose Invitation Card</label>
            <app-file-upload class="form-control" formControlName="file"></app-file-upload>
            <p *ngIf="(createSingleInvForm.controls.file.dirty || createSingleInvForm.controls.file.touched) && createSingleInvForm.controls.file.errors" class="alert alert-danger">
                This field is required!
            </p>
        </div>
        <div class="form-group">
            <label>Invitee Name</label>
            <input type="text" class="form-control" formControlName="inviteeName" />
            <p *ngIf="(createSingleInvForm.controls.inviteeName.dirty || createSingleInvForm.controls.inviteeName.touched) && createSingleInvForm.controls.inviteeName.errors" class="alert alert-danger">
                This field is required!
            </p>
        </div>
        <div class="form-group">
            <label>Invitee City</label>
            <input type="text" class="form-control" formControlName="inviteeCity" />
            <p *ngIf="(createSingleInvForm.controls.inviteeCity.dirty || createSingleInvForm.controls.inviteeCity.touched) && createSingleInvForm.controls.inviteeCity.errors" class="alert alert-danger">
                This field is required!
            </p>
        </div>
        <div formArrayName="contentSet" *ngFor="let item of getContentSet().controls; let i=index">
            <div id="closeablecard" class="card card-hover-shadow mt-4">
                <div class="card-header bg-transparent border-bottom-0">
                    <button data-dismiss="alert" data-target="#closeablecard" type="button" class="close" aria-label="Close">
                        <span (click)="decrContCount(i)" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body mt-n5">
                    <h5 class="card-title">Content To Be Added : {{ i+1 }}</h5>
                    <div class="card-text">
                        <div class="form-group">
                            <fieldset [formGroupName]="i">
                                <label>Page No</label>
                                <input type="number" class="form-control" formControlName="pageNo" />

                                <label class="radio-inline">
                                    <input type="radio" value="DD" (change)="radioChange($event)" name="fontType"> Select Font From DropDown              
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="File" (change)="radioChange($event)" name="fontType"> Upload Font File
                                </label><br>

                                <ng-template [ngIf]="fontDDEnabled">
                                    <label for="fontType">Font Type</label>
                                    <select formControlName="fontType" class="form-control">
                                        <option value="">Select Website</option>
                                        <option *ngFor="let fontType of fontTypeList" value="{{fontType}}">{{ fontType }}</option>
                                    </select>
                                </ng-template>

                                <ng-template [ngIf]="fontFileEnabled">
                                    <label for="fontFile">Choose Font File</label>
                                    <app-file-upload class="form-control" formControlName="fontFile"></app-file-upload>
                                </ng-template>
                                
                                <label>Font Size</label>
                                <input type="number" class="form-control" formControlName="fontSize" />

                                <label>Font Color</label>
                                <input type="color" class="form-control" formControlName="fontColor" />

                                <label>X Co-Ordinate</label>
                                <input type="number" class="form-control" formControlName="xcoOrd" />

                                <label>Y Co-Ordinate</label>
                                <input type="number" class="form-control" formControlName="ycoOrd" />

                                <label>Content To Be Printed</label>
                                <input type="text" class="form-control" formControlName="content" />                             
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="addContCount()">Add Content</button>
        <button type="submit" class="btn btn-primary" [disabled]="!createSingleInvForm.valid">Submit</button>
        <div *ngIf="successMessage">{{ successMessage }}</div>
        <div *ngIf="errorMessage">Invitation Creation Failed. Error: {{ errorMessage }}</div>
    </form>
</div>
